body {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #fff;
}
.tempWrapper {
  margin: 10px;
}

.tempInput {
  border: 1px solid #d9d9d9;
  border-top: 1px solid silver;
  font-size: 180%;
  height: 40px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
  border-radius: 2px 2px 0 0;
}
