body {
  background-color: #56565d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 80vh;
  flex-wrap: wrap;
  width: 500px;
}
.item {
  background-color: #787a84;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
}
.palette {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  margin-top: 20px;
}
.color-option {
  width: 20px;
  height: 20px;
  margin: 10px;
}
