html,
body {
  font-family: Helvetica, sans-serif;
  padding: 50px;
  background: #667db6; /* fallback for old browsers */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

#robot {
  width: 300px;
  height: 620px;
  margin: 50px auto 0;
  position: relative;
}

.look {
  background-color: #ffaabb;
  width: inherit;
  height: inherit;
}
#head {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 110px;
}
#torso {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 0;
  height: 0;
  border-top: 230px solid #ffaabb;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
#leftarm {
  width: 25px;
  height: 240px;
  position: absolute;
  top: 110px;
  left: 30px;
}

#rightarm {
  width: 25px;
  height: 240px;
  position: absolute;
  top: 110px;
  right: 30px;
}
.upperarm {
  width: 25px;
  height: 120px;
}
.forearm {
  width: 25px;
  height: 100px;
  margin-top: 10px;
}

#leftleg {
  width: 30px;
  height: 340px;
  position: absolute;
  top: 280px;
  left: 85px;
}

#rightleg {
  width: 30px;
  height: 340px;
  position: absolute;
  top: 280px;
  right: 85px;
}

.thigh {
  width: 30px;
  height: 150px;
}
.lowerleg {
  width: 30px;
  height: 170px;
  margin-top: 10px;
}
.shoeleft,
.shoeright {
  width: 30px;
  height: 10px;
  position: relative;
  background-color: blueviolet;
}

#leftarm .forearm:hover {
  transform: rotate(-10deg);
}
#rightarm .forearm:hover {
  transform: rotate(10deg);
}
#head:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
#torso:hover {
  transform: scale(1.2);
}
