html {
  height: 100%;
}
body {
  background: #ff62ac;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
  margin: 0;
}

h1,
p {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clicker {
  padding: 10px;
  margin: 5px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.clicker > .mic {
  font-size: 5rem;
}
.clicker:hover {
  background-color: darkcyan;
  cursor: pointer;
}
